<!DOCTYPE html>
<html>
<head>
    <title>{{ web_title }}</title>
</head>
<body>
<h1>{{ web_heading }}</h1>
<p>Bereitgestellt auf {{ ansible_facts['distribution'] }} {{ ansible_facts['distribution_version'] }} ({{ ansible_facts['os_family'] }})</p>
</body>
</html>
